#accueil{

}
#accueilH{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  Button{
    margin: auto;
    width:300px
  }

}