#affichGen{

  margin:auto;
  overflow: auto;
  padding-bottom: 50px;
  text-align: center;


  .chbox{
    margin: auto;

  }

  table{

    text-align: center;
    width: 100%;
    display: block;
    border-radius: 7px;
    min-width: 800px;

    border-bottom: none;
    max-height: 600px;
    background-color: white;
    margin:auto;
    overflow: auto;

    thead {

      border-color: grey ;

      tr{
        border-color: grey;


      }
      th{
        background-color: white;
        border-left: none;
        top: 0px;
        z-index: 10;
        position: sticky;
        text-align: center;

      }

      th:nth-child(1){
        width: 5%;

      }
      th:nth-child(2){
        width: 20%;

      }
      th:nth-child(3){
        width: 5%;
      }
      th:nth-child(4){
        width: 5%;
      }
      th:nth-child(5){
        width: 5%;
      }
      th:nth-child(6){
        width: 5%;
      }
      th:nth-child(7){
        width: 20%;
      }
      th:nth-child(8){
        width: 15%;
      }
      th:nth-child(9){
        width: 10%;
      }
      th:nth-child(10){
        width: 10%;
      }








    }
    tbody{


      td{

        border-top:none;
       border-color: gray;
        text-align: center;
        border-left: none ;

      }

      tr:hover{
        background-color: #f5f5f5;
      }

    }


  }
}

#affichGen2{

  margin:auto;
  overflow: auto;
  padding-bottom: 50px;


  .chbox{
    margin: auto;

  }

  table{

    width: 100%;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    max-height: 1000px;
    background-color: white;
    margin:auto;
    overflow: auto;

    thead {

      border-color: grey ;

      tr{
        border-color: grey;


      }
      th{
        background-color: white;
        border-left: none;
        top: 0px;
        z-index: 10;
        position: sticky;
        text-align: center;

      }



      th:nth-child(2){
        width:30%;
      }




    }
    tbody{


      td{

        border-top:none;
        border-color: gray;
        text-align: center;
        border-left: none ;

      }

      tr:hover{
        background-color: #f5f5f5;
      }

    }


  }
}


#affichGen3{

  table{
    padding-left: 32%;
    text-align: center;
    width: 100%;
    display: block;
    max-height: 600px;
    background-color: white;
    margin:auto;
    overflow: auto;

    thead {

      border-color: grey ;

      tr{
        border-color: grey;


      }
      th{
        background-color: white;
        top: 0px;
        z-index: 10;
        position: sticky;
        text-align: center;

      }



      th:nth-child(2){
        width:30%;
      }




    }
    tbody{


      td{

        border-top:none;
        border-color: gray;
        text-align: center;

      }

      tr:hover{
        background-color: #f5f5f5;
      }

    }


  }
}
