#affichGen{

  margin:auto;
  overflow: auto;
  padding-bottom: 50px;


  .chbox{
    margin: auto;

  }

  table{
    width: 100%;
    display: block;

    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    max-height: calc(100vh - 240px - 150px );

    background-color: white;
    margin:auto;

    overflow: auto;

    thead {

      border-color: grey ;
      tr{
        border-color: grey;

      }
      tr:nth-child(1) th{
        position: sticky;
        z-index: 20;
        background-color: white;
        text-align: center;


      }
      th{
        border-left: none;
        top: 0px;


      }



      th:nth-child(2){
        width:100%;
      }

    }
    tbody{
      td{

        border-top:none;
       border-color: gray;
        text-align: center;
        border-left: none ;

      }

    }


  }
}