#menu{
  top:0;
  display: flex;
  position: fixed;
  width: 100%;
  padding-bottom: 50px;
}
body{
  background-image: linear-gradient(#ffffff 40%, #1890FF 200%);
  background-attachment: fixed;
  //overflow: hidden;

  main{
    display: flex;
    flex-direction: column;



    #body{

      padding-top:50px;
      //background-color: transparent;
    }
  }
}


*::-webkit-scrollbar
{
  border:none;
  border-radius: 10px;
  width: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
  border:none;
  border-radius: 10px;
  background-color: #1890FF;

  background-image: -webkit-gradient(linear, 0 0, 0 100%,
          color-stop(.5, rgba(255, 255, 255, .2)),
          color-stop(.5, transparent), to(transparent));
}