#menuaff{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  position: absolute;




  #partieD3{

    display: flex;
    right:0;
    justify-self: flex-end;
  }

  #partieD0{

  }

  .spacer{
    flex-grow:1;
    width: 100%;
  }
}
