#menu{
  //display: inline-block;
  width: 100%;
  padding-bottom: 50px;
  #menug{
    margin-left: 20%;
    width: 30%;
    display: flex;
    position: absolute;
    left: 0;
  }
  #menud{
    margin-right: 20%;
    max-width: 30%;
    width: 100%;
    display: flex;
    position: absolute;
    right: 0;
    justify-content: flex-end;
  }
}