#histoUti {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;



  #histoUt {
    display: block;
    overflow: auto;

    border-radius: 7px;

    border-right: none;
    border-bottom: none;
    max-width: 1000px;

    max-height: 500px;

    background-color: white;
    margin: auto;
    thead {

      border-color: grey;

      tr {
        border-color: grey;

      }

      tr:nth-child(1) th {
        position: sticky;

        background-color: white;
        text-align: center;


      }

      th {
        border-left: none;
        top: 0px;
        z-index: 10;

      }

      th:first-child {
        width: 10%;
      }

      th:nth-child(2) {
        width: 30%;
      }

      th:nth-child(3) {
        width: 10%;
      }

      th:nth-child(4) {
        width: 20%;
      }

      th:nth-child(5) {
        width: 20%;
      }

      th:last-child {
        width: 10%;
      }

    }

    tbody {
      height: 500px;
      overflow: auto;

      td {

        border-top: none;
        border-color: gray;
        text-align: center;
        border-left: none;

      }

      tr:hover {
        background-color: #f5f5f5;
      }

    }
  }
}