#qcm{
  margin: auto ;
  width: 290px;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
  overflow: auto;
  p{
    max-width: 290px;
    //text-align: center;
    word-wrap: break-word;

    padding-top: 10px;

  }
  #chbox{

    margin: auto;
  }

}