#selectCont {
  display: block;

  margin: auto;
  padding-bottom: 20px;
  max-width: 900px;

  table {

    display: block;
    overflow: auto;
    max-height: 400px;
    background-color: white;
    margin: auto;

    thead {

      tr:nth-child(1) th {
        position: sticky;
        background-color: grey;
        color: white;
        text-align: center;


      }

      th {

        top: 0px;
        z-index: 10;

      }

      th:first-child {
        width: 10%;
      }

      th:nth-child(2) {
        width: 30%;
      }

      th:nth-child(3) {
        width: 10%;
      }

      th:nth-child(4) {
        width: 20%;
      }

      th:nth-child(5) {
        width: 20%;
      }

      th:last-child {
        width: 10%;
      }

    }

    tbody {
      height: 500px;
      overflow: auto;

      td {

        text-align: center;
        border-left: none;

      }

      tr:nth-child(even) {
        background-color: lightgray;
      }

      tr:hover {
        background-color: #f5f5f5;
      }

    }


  }

  #controle {
    display: block;
    overflow: auto;
    max-height: 400px;
    background-color: white;
    margin: auto;


    thead {

      tr:nth-child(1) th {
        position: sticky;
        color: white;
        background-color: grey;
        text-align: center;


      }

      th {
        top: 0px;
        z-index: 10;

      }

      th:first-child {
        width: 10%;
      }

      th:nth-child(2) {
        width: 25%;
      }

      th:nth-child(3) {
        width: 10%;
      }

      th:nth-child(4) {
        width: 20%;
      }

      th:nth-child(5) {
        width: 25%;
      }

      th:last-child {
        width: 10%;
      }

    }

    tbody {
      height: 500px;
      overflow: auto;

      td {
        text-align: center;

      }

      tr:nth-child(even) {
        background-color: lightgray;
      }

      tr:hover {
        background-color: #f5f5f5;
      }
    }
  }
}